
body {
  height: 400px;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(238, 118, 118);
}

.header > img {
  height: 80px;
  width: 90px;
}

header > nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

header nav > a:link{
  text-decoration: none;
}

header nav > a:hover{ 
  color: red;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;

}

.main {
  height: 400px;
  background-color: rgb(243, 74, 74);
  
}

.form {
  padding: 20px;
  padding-left: 400px;
}

#nome {
  width: 70%;
  height: 22px;
  margin: 3px;
  display: flex;
}

#endereco {
  width: 70%;
  height: 22px;
  margin: 3px;
  display: flex;
}

#local {
    width: 70%;
    height: 22px;
    margin: 3px;
    display: flex;
  }

#salvar {
  height: 40px;
  width: 20%;
  margin: 5px;
  margin-left: 200px;
}

.text {
  display: flex;
  text-align: center;
  padding-left: 180px;
  margin: 5px;
  height: 8px;
}

footer {
  background-color: rgb(243, 123, 123);
  height: 100px;
  display: flex;

}

